extends layout

block content

  div.div-wrapper.success.mb-3
    div.index-opening-div.div-showup Your snowboard journey
    div.index-opening-div.div-reveal
      span starts here!

  
  #myCarousel.carousel.slide.carousel-fade(data-ride="carousel")
    .carousel-inner
      .carousel-item.active
        .mask.flex-center
          .container
            .row.align-items-center
              .col-md-6.ml-5.col-12.order-md-1.order-1
                h4 #{products[0].name}
                p #{products[0].shape} shape, #{products[0].purpose} purpose!
                a(href=`/products/${products[0].postfix}`) Get it now
              .col-md-5.col-12.order-md-2.order-1
                a.sales-item(href=`/products/${products[0].postfix}`)
                  img.mx-auto.img-fluid.carousel-img(src=`./image/snowboards/${products[0].picture}` alt=`${products[0].name}`)
      .carousel-item
        .mask.flex-center
          .container
            .row.align-items-center
              .col-md-6.ml-5.col-12.order-md-1.order-2
                h4 #{products[1].name}
                p #{products[1].shape} shape, #{products[1].purpose} purpose!
                a(href=`/products/${products[1].postfix}`) Get it now
              .col-md-5.col-12.order-md-2.order-1
                a.sales-item(href=`/products/${products[1].postfix}`)
                  img.mx-auto.img-fluid.carousel-img(src=`./image/snowboards/${products[1].picture}` alt=`${products[1].name}`)
      .carousel-item
        .mask.flex-center
          .container
            .row.align-items-center
              .col-md-6.ml-5.col-12.order-md-1.order-3
                h4 #{products[2].name}
                p #{products[2].shape} shape, #{products[2].purpose} purpose! 
                a(href=`/products/${products[2].postfix}`) Get it now
              .col-md-5.col-12.order-md-2.order-1
                a.sales-item(href=`/products/${products[2].postfix}`)
                  img.mx-auto.img-fluid.carousel-img(src=`./image/snowboards/${products[2].picture}` alt=`${products[2].name}`)
    a.carousel-control-prev(href="#myCarousel" role="button" data-slide="prev")
      span.carousel-control-prev-icon(aria-hidden="true")
      span.sr-only Previous
    a.carousel-control-next(href="#myCarousel" role="button" data-slide="next")
      span.carousel-control-next-icon(aria-hidden="true")
      span.sr-only Next

  .parallax-2

  .container-fluid.browsing-container
    .row
      .col-12.text-center.mb-4
        h1 Start snowboarding today!
        h3 Browse among our top-quality snowboards.
      .col-md-4
        img.img-fluid(class="browser-image" src="./image/photos/photo-1498146831523-fbe41acdc5ad.jpg", alt="snowboard in the snow")
      .col-md-8
        .row
          .col-12.text-center.mb-3
            h3.browsing-headline  Browse by brands:
        .row.d-flex.flex-wrap.align-items-center
          div.col-4.col-md-2
            a(href="/products?filter=1&page=0&brand0=1")
              img.img-fluid(src="./image/brands/1_burton.png", alt="Burton")
          div.col-4.col-md-2
            a(href="/products?filter=1&page=0&brand1=2")
              img.img-fluid(src="./image/brands/2_capita.jpg", alt="Capita")
          div.col-4.col-md-2
            a(href="/products?filter=1&page=0&brand5=6")
              img.img-fluid(src="./image/brands/GNU.png", alt="GNU")
          div.col-4.col-md-2
            a(href="/products?filter=1&page=0&brand2=3")
              img.img-fluid(src="./image/brands/3_libtech.jpg", alt="LibTech")
          div.col-4.col-md-2
            a(href="/products?filter=1&page=0&brand3=4")
              img.img-fluid(src="./image/brands/4_nitro.jpg", alt="Nitro")
          div.col-4.col-md-2
            a(href="/products?filter=1&page=0&brand4=5")
              img.img-fluid(src="./image/brands/5_k2.png", alt="K2")
        .row.d-flex.flex-wrap.align-items-center
          div.col-4.col-md-2.offset-md-1
            a(href="/products?filter=1&page=0&brand6=7")
              img.img-fluid(src="./image/brands/7_jones.png", alt="Jones")
          div.col-4.col-md-2
            a(href="/products?filter=1&page=0&brand7=8")
              img.img-fluid(src="./image/brands/8_ride.png", alt="Ride")
          div.col-4.col-md-2
            a(href="/products?filter=1&page=0&brand8=9")
              img.img-fluid(src="./image/brands/9_salomon.png", alt="Salomon")
          div.col-4.col-md-2
            a(href="/products?filter=1&page=0&brand9=10")
              img.img-fluid(src="./image/brands/10_rome.jfif", alt="Rome")
          div.col-4.col-md-2
            a(href="/products?filter=1&page=0&brand10=11")
              img.img-fluid(src="./image/brands/11_nidecker.png", alt="Nidecker")
        
        .row
          .col-md-6.text-center.mt-5.mb-2
            h3.browsing-headline  Browse by style:
            ul.browsing-ul
              li
                a(href="/products?filter=1&page=0&purpose0=All-mountain") All-mountain
              li
                a(href="/products?filter=1&page=0&purpose2=Freestyle") Freestyle
              li
                a(href="/products?filter=1&page=0&purpose1=Freeride") Freeride
          .col-md-6.text-center.mt-5.mb-2
            h3.browsing-headline  Browse by shape:
            ul.browsing-ul
              li
                a(href="/products?filter=1&page=0&shape1=Twin") Twin
              li
                a(href="/products?filter=1&page=0&shape0=Directional") Directional

  .parallax-3