extends layout

block content
  h1.page-title= title

  .container-fluid
    .row
      .dropdown
        button#dropdownMenuButton.btn.btn-info.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          | Products per page
        .dropdown-menu(aria-labelledby='dropdownMenuButton')
          a.dropdown-item(href='#') 4
          a.dropdown-item(href='#') 8
          a.dropdown-item(href='#') 12
          a.dropdown-item(href='#') 20
          a.dropdown-item(href='#') All
        br    
    .row
      .col-xs-12.col-sm-2.col-md-3.col-lg-3
        .col-12.sticky-top.sidenav
          form(method='GET' action='/products' role='form')
            input(type="hidden", name="filter", value="1")
            input(type="hidden", name="page", value="0")
            .form-group.form-check
            - let index = 0;
              p.font-weight-bold Brands
              input#Burton.form-check-input(type='checkbox' name="brand" value=`${++index}`)
              label.form-check-label.pr-5(for='Burton') Burton 
              input#CAPiTA.form-check-input(type='checkbox' name=`brand` +`${index}`  value=`${++index}`)
              label.form-check-label.pr-5(for='CAPiTA') CAPiTA 
              input#LibTech.form-check-input(type='checkbox' name="brand2" value=3)
              label.form-check-label.pr-5(for='LibTech') LibTech 
              br
              input#Nitro.form-check-input(type='checkbox' name="brand3" value=4)
              label.form-check-label.pr-5(for='Nitro') Nitro
              input#K2.form-check-input(type='checkbox' name="brand4" value=5)
              label.form-check-label.pr-5(for='K2') K2
              input#GNU.form-check-input(type='checkbox' name="brand5" value=6)
              label.form-check-label(for='GNU') GNU
              br
              input#Jones.form-check-input(type='checkbox' name="brand6" value=7)
              label.form-check-label.pr-5(for='Jones') Jones 
              input#Ride.form-check-input(type='checkbox' name="brand7" value=8)
              label.form-check-label.pr-5(for='Ride') Ride 
              input#Salomon.form-check-input(type='checkbox' name="brand8" value=9)
              label.form-check-label.pr-5(for='Salomon') Salomon
              br
              input#Rome.form-check-input(type='checkbox' name="brand9" value=10)
              label.form-check-label.pr-5(for='Rome') Rome
              input#Nidecker.form-check-input(type='checkbox' name="brand10" value=11)
              label.form-check-label.pr-5(for='Nidecker') Nidecker 
            .form-group.form-check
              p.font-weight-bold Shape
              input#Directional.form-check-input(type='checkbox' name="shape" value="Directional")
              label.form-check-label.pr-5(for='Directional') Directional 
              input#Twin.form-check-input(type='checkbox' name="shape2" value="Twin")
              label.form-check-label(for='Twin') Twin
            .form-group.form-check
              p.font-weight-bold Purpose
              input#All-mountain.form-check-input(type='checkbox' name="purpose" value="All-mountain")
              label.form-check-label.pr-5(for='All-mountain') All-mountain 
              input#Freestyle.form-check-input(type='checkbox' name="purpose1" value="Freestyle")
              label.form-check-label.pr-5(for='Freestyle') Freestyle
              input#Freeride.form-check-input(type='checkbox' name="purpose2" value="Freeride")
              label.form-check-label(for='Freeride') Freeride
              br
            button.btn.btn-primary(type='submit') Filter
    

      .col-xs-12.col-sm-10.col-md-9.col-lg-9

        .row
          each product in products
            .col-xs-12.col-sm-6.col-md-4.col-lg-3
              .card
                img.card-img-top(src=`./image/snowboards/${product.picture}` alt='...')
                .card-body
                  h5.card-title #{product.name}
                  p.card-text $ #{product.price}
                  a.btn.btn-primary(href=`/products/${product.postfix}`) Show

    .row
      .col-lg-2.offset-5
        nav(aria-label='Page navigation example')
          ul.pagination
            if pagination.prev==-1
              li.page-item.disabled
                a.page-link(href=`/products?page=${pagination.prev}` aria-label='Previous')
                  span(aria-hidden='true') &laquo;
            else
              li.page-item
                - let link = query.replace(/page\=[^\&]/, `page=${pagination.prev}`) || `page=${pagination.prev}`;
                a.page-link(href=`/products?${link}` aria-label='Previous')
                  span(aria-hidden='true') &laquo;                  
            each pag in pagination.pages
              if page==pag.page
                li.page-item.active
                  a.page-link(href=`/products?page=${pag.page}` aria-label='Previous')
                    span(aria-hidden='true')= (pag.page+1)
              else
               li.page-item
                - let link = query.replace(/page\=[^\&]/, `page=${pag.page}`) || `page=${pag.page}`;
                a.page-link(href=`/products?${link}` aria-label='Previous')
                  span(aria-hidden='true')= (pag.page+1)
            if pagination.next == pagination.last
              li.page-item.disabled
                a.page-link(href=`/products?page=${pagination.next}` aria-label='Next')
                  span(aria-hidden='true') &raquo;
            else 
              li.page-item
              - let link = query.replace(/page\=[^\&]/, `page=${pagination.next}`) || `page=${pagination.next}`;
                a.page-link(href=`/products?${link}` aria-label='Next')
                  span(aria-hidden='true') &raquo;