extends layout

block content
  h1.text-center.mt-5 #{product.name}
  .container.mt-5.mb-5
    .row#alertDiv.hide
      .alert.alert-primary(role='alert') You can't leave a review, until you purchased the product.
    .row
      .col-12.col-md-6
        img.uniquePic(src=imgRoot)
      .col-12.col-md-6.mt-5
        .col-12.mb-5
          img.brandIcon(src=iconRoot)
        .col-12
          h4 #{product.shape}
          h4 #{product.size}
          h4 #{product.purpose}
          h2 #{product.price} $
        .col-12
          p.text-success ✔ Delivery time 3-5 business days

        if user
          if user.userId && user.role == 'customer'
            .row
              .col-3.col-sm-3.mb-2
                .btn-toolbar(role='toolbar' aria-label='Toolbar with button groups')
                  .btn-group.mr-2(role='group' aria-label='First group')
                    button.btn.btn-secondary.plus(type='button' onclick='descValue()') ⯆
                    input.prodNumber.text-center(type='text' value='1')
                    button.btn.btn-secondary.minus(type='button' onclick='incValue()') ⯅
              .col-5.col-sm-5
                button.btn.btn-dark.btn-block.basketButton(onclick=`addToBasket(${product.ID})`) Add to Basket
            .row
              .col-3.offset-5
                button.btn.btn-info.btn-block.basketButton(onclick=`toggleReview(${product.ID})`) Leave a review
      .col-12.mt-5#review.hide
        h2 Leave a review
        textarea.form-control.mb-3(name='text' placeholder='Write something...')
        .col-3
          h4 Rate it
          fieldset.rating
            input#star5(type='radio' name='rating' value='5')
            label.full(for='star5' title='Awesome - 5 stars')
            input#star4half(type='radio' name='rating' value='4.5')
            label.half(for='star4half' title='Pretty good - 4.5 stars')
            input#star4(type='radio' name='rating' value='4')
            label.full(for='star4' title='Pretty good - 4 stars')
            input#star3half(type='radio' name='rating' value='3.5')
            label.half(for='star3half' title='Meh - 3.5 stars')
            input#star3(type='radio' name='rating' value='3')
            label.full(for='star3' title='Meh - 3 stars')
            input#star2half(type='radio' name='rating' value='2.5')
            label.half(for='star2half' title='Kinda bad - 2.5 stars')
            input#star2(type='radio' name='rating' value='2')
            label.full(for='star2' title='Kinda bad - 2 stars')
            input#star1half(type='radio' name='rating' value='1.5')
            label.half(for='star1half' title='Meh - 1.5 stars')
            input#star1(type='radio' name='rating' value='1')
            label.full(for='star1' title='No good - 1 star')
            input#starhalf(type='radio' name='rating' value='0.5')
            label.half(for='starhalf' title='No good - 0.5 stars')
        .col-2.offset-10
          button.btn.btn-dark.btn-block.basketButton(onclick=`leaveReview(${product.ID})`) Send


  .container-fluid.toggleDiv
    .row
      .col-2.offset-4.col-md-2.offset-md-4.col-lg-2.offset-lg-5.btn-group
        button.btn.toggleButtons.basketButton(href='#' type='button' onclick='showDesc()') Description
        button.btn.toggleButtons.basketButton(href='#' type='button' onclick='showRev()') Reviews
    .descriptionDiv
      .row
        .col-10.offset-1
          h3 Description
          h5.mt-5.pb-5 #{product.details}
    .reviewsDiv
      .row
        if reviews!=0
          .col-6.offset-3
            h3 Reviews
              each review in reviews
                h6 Someone said about it:
                .oneReview.mt-2
                  p #{review.details}
                p.mb-5.ml-2 #{review.rate} &star;
        else
          .col-6.offset-3
            h4 No reviews of this product yet.


