extends layout

block content
  h1.text-center.mt-5.mb-5 #{product.name}
  .container.mt-5.mb-5
    .row
      .col-12.col-md-6.mt-md-5.mt-lg-0
        img.uniquePic(src=imgRoot)
      .col-12.col-md-6.mt-5.mt-md-0
        .row
          .col-6.col-md-12.col-lg-12.mb-5.mb-md-0.mb-xl-5
            .col-10.col-md-8
              img.col-6.mb-2.brandIcon(src=iconRoot)
            h4.col-12 #{product.shape}
            h4.col-12 #{product.size}
            h4.col-12 #{product.purpose}
            h2.col-12 #{product.price} $
            p.col-12.text-success ✔ Delivery time 3-5 business days
          .col-6.col-md-12.mt-5.mt-md-0.mt-xl-4
            if user
              if user.userId && user.role == 'customer'
                .mb-2.col-8.mt-5.mt-md-0
                  .btn-toolbar(role='toolbar' aria-label='Toolbar with button groups')
                    .btn-group.mr-2(role='group' aria-label='First group')
                      button.btn.btn-secondary.plus(type='button' onclick='descValue()') ⯆
                      input.prodNumber.text-center(type='text' value='1')
                      button.btn.btn-secondary.minus(type='button' onclick='incValue()') ⯅
                .mb-2.col-8.col-md-6
                  button.btn.btn-dark.btn-block.basketButton(onclick=`addToBasket(${product.ID})`) Add to Basket
                .mb-2.mt-5.col-8.mt-md-0.col-md-6
                  button.btn.btn-info.btn-block.basketButton(onclick=`toggleReview(${product.ID})`) Leave a review
    .row#alertDiv.hide.mt-5
      .alert.alert-primary(role='alert') You can't leave a review, until you purchased the product.

    .col-12.mt-5#review.hide
        h2 Leave a review
        textarea.writeSmth.form-control.mb-3(name='text' placeholder='Write something...')
        .col-3
          h4 Rate it
          fieldset.rating
            input#star5(type='radio' name='rating' value='5')
            label.full(for='star5' title='Awesome - 5 stars')
            input#star4half(type='radio' name='rating' value='4.5')
            label.half(for='star4half' title='Pretty good - 4.5 stars')
            input#star4(type='radio' name='rating' value='4')
            label.full(for='star4' title='Pretty good - 4 stars')
            input#star3half(type='radio' name='rating' value='3.5')
            label.half(for='star3half' title='Meh - 3.5 stars')
            input#star3(type='radio' name='rating' value='3')
            label.full(for='star3' title='Meh - 3 stars')
            input#star2half(type='radio' name='rating' value='2.5')
            label.half(for='star2half' title='Kinda bad - 2.5 stars')
            input#star2(type='radio' name='rating' value='2')
            label.full(for='star2' title='Kinda bad - 2 stars')
            input#star1half(type='radio' name='rating' value='1.5')
            label.half(for='star1half' title='Meh - 1.5 stars')
            input#star1(type='radio' name='rating' value='1')
            label.full(for='star1' title='No good - 1 star')
            input#starhalf(type='radio' name='rating' value='0.5')
            label.half(for='starhalf' title='No good - 0.5 stars')
        .col-2.offset-10
          button.btn.btn-dark.btn-block.basketButton(href='#' type='button' onclick=`leaveReview(${product.ID})`) Send  


  .container-fluid.toggleDiv
    .row
      .col-2.offset-4.col-md-2.offset-md-4.col-lg-2.offset-lg-5.btn-group
        button.btn.toggleButtons.basketButton(href='#' type='button' onclick='showDesc()') Description
        button.btn.toggleButtons.basketButton(href='#' type='button' onclick='showRev()') Reviews
    .descriptionDiv
      .row
        .col-10.offset-1
          h3 Description
          h5.mt-5.pb-5 #{product.details}
    .reviewsDiv
      .row
        if reviews!=0
          .col-6.offset-3
            h3.mb-5 Reviews
              each review in reviews
                .col-12.mb-5(id=`wholeRev${review.reviewId}`)
                  h6 Someone said about it:
                  .oneReview.row.mt-2(id=`oneReview${review.reviewId}`)
                    textarea.col-10(disabled) #{review.details}
                    p.col-2 #{review.rate} &star;
                  if user
                    if user.userId == review.userId
                      button.col-1.btn.btn-light.offset-10.mt-2.col-md-2.offset-md-8(class=`revBut${review.reviewId}` href='#' type='button' onclick=`editReview(${review.reviewId})`) Edit
                      button.col-1.btn.btn-danger.mt-2.col-md-2(class=`revBut${review.reviewId}` href='#' type='button' onclick=`deleteReview(${review.reviewId})`) Delete
                      button.hide.col-1.btn.btn-light.offset-10.mt-2.col-md-2.offset-md-8(class=`revBut${review.reviewId}` href='#' type='button' onclick=`cancelReview(${review.reviewId})`) Cancel
                      button.hide.col-1.btn.btn-danger.mt-2.col-md-2(class=`revBut${review.reviewId}` href='#' type='button' onclick=`saveReview(${review.reviewId})`) Save
        else
          .col-6.offset-3
            h4 No reviews of this product yet.


