extends layout

block content
  h1.page-title= title

  .container
    .row
      each product in products
        .col-lg-3
          .card
            img.card-img-top(src=`./image/snowboards/${product.picture}` alt='...')
            .card-body
              h5.card-title #{product.name}
              p.card-text $ #{product.price}
              - let productUrl = `/products/${product.id}`;
              a.btn.btn-primary(href=productUrl) Show
